{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
	<h1>Design primers for your cloning!</h1>
</div>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MyNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
			</button>
			<a class="navbar-brand" href="#" src="/home/miexak/Pictures/ATCG_primer_designer.png"></a>
		</div>
		<div class="collapse navbar" id="myNavbar"></div>
	</div>
</nav>
{% endblock %}
